@model PorfolioWebsite.Models.ContactFormModel

@{
    ViewData["Title"] = "Contact";
}

<div class="contact">
    <!-- ABOUT Title -->
    <div class="grid-item about-title">
        <h1 class="page-title">Contacts</h1>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <form  asp-action="SubmitContactForm" asp-controller="Contact" method="post">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Message">Message:</label>
            <textarea id="Message" name="Message" class="form-control" rows="5" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
