@model IEnumerable<PorfolioWebsite.Models.Prices>

<div class="container testimonial-gallery">
    <h1 class="page-title">Prices</h1>

    <!-- Large Box Container -->
    <div class="large-box" id="largeBox">
        @foreach (var item in Model)
        {
            <div class="gallery-card" onclick="openCard(this)">
           
                <div class="card-overlay">
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <p>@item.Price</p>
                </div>
            </div>
        }
    </div>
</div>

<!-- Include Bootstrap dependencies -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/prices.css" asp-append-version="true" />