html {
    height: auto;
    margin: 0; /* Remove default margins */
    display: flex;
    flex-direction: column; /* Stack header, content, and footer */
}


body {
    overflow-y: auto; /* Allow scrolling for taller content */
}



.contact {
    display: flex; /* Display the form as a flex container */
    flex-direction: column; /* Stack form elements vertically */
    align-items: flex-start; /* Align form elements to the left */
    text-align: left; /* Align the content to the left */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
   
}

.contact .form-group {
    margin-bottom: 15px;
}

    .contact .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

button .btn btn-primary {
    margin-top: 50px;
    display: inline-block;
    width: 10%;
    /*background-color: rgba(128, 26, 0, 0.6);*/ /* Base background color */
    background-color: rgba(25, 34, 33, 0.9) !important;
    opacity: 0.9; /* Slightly transparent */
    color: white; /* Text color */
    border-radius: 10px; /* Smooth corners for neomorphic effect */
    padding: 10px 20px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    transition: all 0.3s ease; /* Smooth hover effect */
    border: none; /* Remove default borders */
    box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.2), inset -8px -8px 15px rgba(255, 255, 255, 0.1);
}

button .btn btn-primary:hover {
    background-color: gray; /* Slightly darker on hover */
    color: white;
    box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.2), inset -8px -8px 15px rgba(255, 255, 255, 0.1); /* Inset effect on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    border-top: 0.5px solid #ddd;
    padding-bottom: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (max-width: 768px) {

    html {
        height: auto;
        margin: 0; /* Remove default margins */
        display: flex;
        flex-direction: column; /* Stack header, content, and footer */
    }


    body {
        overflow-y: auto; /* Allow scrolling for taller content */
    }
    .contact {
        display: block;
        flex-direction: unset; /* Stack form elements vertically */
        align-items: flex-start; /* Align form elements to the left */
        text-align: left; /* Align the content to the left */
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .footer {
        background-color: #f8f9fa;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        border-top: 0.5px solid #ddd;
        padding-bottom: 40px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}